<div class="content imageContainer cardsRow {{startPlaying.playerHand[0].image}}" ng-hide="sortCards.hideMe"> </div>
<div class="content imageContainer cardsRow {{startPlaying.playerHand[1].image}}" ng-hide="sortCards.hideMe"> </div>
<div class="content imageContainer cardsRow {{startPlaying.playerHand[2].image}}" ng-hide="sortCards.hideMe"> </div>
<div class="content imageContainer cardsRow {{startPlaying.playerHand[3].image}}" ng-hide="sortCards.hideMe"> </div>
<div class="content imageContainer cardsRow {{startPlaying.playerHand[4].image}}" ng-hide="sortCards.hideMe"> </div>
