<ion-view title="lobby">
    <ion-content padding="'true'" class="has-header">
        <ion-list></ion-list>
        <img src="img/RIYcax0TFi1jq0ovN2El_pageBanner.png" width="100%" height="auto">
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <div class="centreLobby">
            <h2>Welcome! Lets play some bingo</h2>
            <div class="playerInformation">
                <div>Username: {{userLogIn.username}}</div>
                <div>Balance:{{userLogIn.balance | currency}}</div>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <button class="button button-positive button-block " ng-click="gameApi.getNextGame()">Play Bingo</button>
        <button class="button button-positive button-block " ng-click="miniGameEnter.playGame()">Play Snake</button>
      <button class="button button-positive button-block " ng-click="miniGameEnter.playMatch()">Play Pairs</button>
      <button class="button button-positive button-block " ng-click="miniGameEnter.playSnap()">Play Snap</button>
      <button class="button button-positive button-block " ng-click="miniGameEnter.playBlackJack()">Play BlackJack</button>
      <button class="button button-positive button-block " ng-click="userLogIn.logOut()">Log Out</button>
    </ion-content>
</ion-view>
