<ion-list ng-hide="!startPlaying.hideButtons">
  <ion-item class="background">
    <h2> AI's Hand</h2>
    <div class="content imageContainer cardsRow {{startPlaying.AiHand[0].image}}" ng-hide="sortCards.hideMe"> </div>
    <div class="content imageContainer cardsRow {{startPlaying.AiHand[1].image}}" ng-hide="sortCards.hideMe"> </div>
    <div class="content imageContainer cardsRow {{startPlaying.AiHand[2].image}}" ng-hide="sortCards.hideMe"> </div>
    <div class="content imageContainer cardsRow {{startPlaying.AiHand[3].image}}" ng-hide="sortCards.hideMe"> </div>
  </ion-item>
</ion-list>
